html {
  font-size: 25px;
  background-color: #F4F6FA;
}

@media screen and (max-width:600px) {
  html {
    font-size: 20px;
  }
}
@media screen and (max-width:500px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width:400px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-width:360px) {
  html {
    font-size: 10px;
  }
}
