.container {
    z-index: 10000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    background-color: white;
    width: 80vw;
    max-width: 500px; /* 모달 최대 너비 설정 */
    height: 80vh;
    max-height: 550px; /* 모달 최대 높이 설정 */
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤 표시 */
}

.toptab {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    height: 4rem;
}

.requesttext {
    text-align: center;
}

.requesttext p {
    margin: 1rem;
    font-size: 2rem;
    font-weight: 900;
}

.searchbox {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.inputlabel h2 {
    margin-top: 0;
    margin-bottom: 0.3rem;
}

.searchgroup {
    display: flex;
}

.inputbox {
    width: 18rem;
    height: 3.4rem;
}

.inputbox input {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 0.5rem;
}
.searchgroup button {
    margin-left: 1rem;
    width: 6rem;
    height: 3.734rem;
}


.searchresult {
    border: 1px solid black;
    border-radius: 0.5rem;
    width: 24.9rem;
    height: 4.9rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.searchresultunit {
    width: 100%;
    height: 4.9rem;
    display: flex;
    border-bottom: 1px solid black;
}

.usercharacter {
    width: 20%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
}
.userImg {
    width: 80%;
    height: 80%;
    /* border: 1px solid yellow; */
    margin: auto;
}
.userImg img {
    width: 100%;
    height: 100%;
}
.useraccount {
    width: 60%;
    height: 100%;
    /* border: 1px solid blue; */
}
.appendbtn {
    width: 20%;
    height: 100%;
    display: flex;
}
.appendbtn button {
    margin: auto;
}


.friendlist {
    display: flex;
    justify-content: center;
}

.listlabel h2 {
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}


.friendbox {
    width: 24.9rem;
    height: 17.1rem;
    border-radius: 0.5rem;
    border: 1px solid black;
}

.friendunit {
    border: 1px solid black;
}

.invitelist {
    display: flex;
    justify-content: center;
}

/* .invitebox {
    width: 24.9rem;
    height: 6.8rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    display: flex;
    overflow-x: auto;
}

.inviteunit {
    border: 2px solid blue;
    width: 5rem;
    height: 5rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
} */

.invitebox {
    width: 24.9rem;
    height: 6.8rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    display: flex;
    overflow-x: auto;
  }
  
  .inviteunitContainer {
    display: flex;
    flex-wrap: nowrap;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .inviteunit {
    /* border: 1px solid blue; */
    width: 5rem;
    height: 5rem;
    margin-left: 1rem;
  }
  


.infobtns {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.infobtns button {
    width: 12rem;
    height: 3.6rem;
}