.content {
    display: flex;
    justify-content: center;
}


.pagetitle {
    text-align: center;
    font-size: 1.5rem;
}

.maincontent {
    background-color: white;
    width: 80vw;
    max-width: 500px;
    height: 80vh;
    max-height: 500px;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;

}

.toptab {
    display: flex;
    justify-content: space-around;
}

.requestmoney {
    width: 40%;
}

.requestmission {
    width: 40%;
}

.icon {
    width: 4.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.icon img {
    width: 100%;
}

.requesttext {
    text-align: center;
}

.requesttext p {
    margin: 0rem;
    font-size: 2rem;
    font-weight: 900;
}

.selectcontent {
    margin-top: 2rem;

    display: flex;
    justify-content: center;
}

.requestlist {
    margin-top: 10%;
    min-height: 75%;


}


.requestunit {
    display: flex;
}


.transunit {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #999999;
}

.moneyinfo {
    margin-top: auto;
}

.transmoney {
    font-size: 2rem;
    font-weight: 900;
    color: #267BFF;
    margin-bottom: 0;
    margin-right: 2rem;
}

.balancemoim {
    color: #6B6B6B;
    margin-top: 0;
    font-weight: 900;
    margin-left: 1.5rem;
}

.transinfo p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.transuser {
    font-size: 1.2rem;
    font-weight: 900;
}
.transcontent {
    font-size: 1.2rem;
    font-weight: 900;
    color: #6B6B6B;
}



.backgroundOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* 어두운 배경 색상 및 투명도 조절 */
    z-index: 9998; /* 모달보다 한 단계 아래로 배치 */
  }