.container {
    background-color: white;
    width: 100%;
    height: 100vh;
}

.toptab {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
}

.requestmoney {
    width: 40%;
}

.requestmission {
    width: 40%;
}

.icon {
    width: 4.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.icon img {
    width: 100%;
}

.requesttext {
    text-align: center;
}

.requesttext p {
    margin: 0rem;
    font-size: 2rem;
    font-weight: 900;
}

.selectcontent {
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.inputs {
    width: 20rem;
}

.inputs input {
    margin-bottom: 1rem;
    width: 100%;
}

.inputs select {
    margin-bottom: 1rem;
    width: 100%;
}

.btns {
    display: flex;
    justify-content: space-around;
}