/* your css code */
.Nav{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.NavIcon{
    width: 4rem;
    height: 4rem;

}
.NavBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}