/* your css code */
.container {
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
}

.banklogo {
    width: 20%;
    margin-top: auto;
    margin-bottom: auto;
}

.banklogo img {
    width: 100%;
}

.invitemessage {
    margin-top: auto;
    margin-bottom: auto;
    width: 55%;
    margin-left: 1rem;
    font-family: "NT";
    font-weight: bold;
}

.btns {
    margin-top: auto;
    margin-bottom: auto;
    width: 20%;
}