/* your css code */
.nomalBox{
    background-color: white;
    border: solid 0.2rem #E4E4E4 ;
    border-radius: 0.6rem;
    margin-top: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.modalButton{
    border: solid 0.1rem #E4E4E4 ;
    border-radius: 0.7rem;
    width: 9rem;
    height: 3rem;
}

.mainBox{
    position: absolute;
    z-index: 3;
    margin-left: 5vw;
}