.container {
    z-index: 10000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    background-color: white;
    width: 80vw;
    max-width: 500px; /* 모달 최대 너비 설정 */
    height: 80vh;
    max-height: 500px; /* 모달 최대 높이 설정 */
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤 표시 */
}

.toptab {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
}