/* your css code */
.etcPages{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: white;
    width: 90%;
    height: 90%;
    border-radius: 0.6rem;
    font-family: "BD";
}


/*주버튼 */
.confirmBtn{
    margin-top: 35%; /*윗마진 */
    background-color: #0D6EFD; /*색 조절 */
    color: white;
    width: 90%;
    height: 4.5rem; /*높이조절 */
    font-size: 1.5rem;
    border-radius: 0.8rem;
    border: 0;
    font-weight: bold;
    font-family: "BD";
    
}

/*눌렸을때 */
.confirmBtn:active{
    background-color: #0056d8;
    color: white;
}
