/* your css code */
/* your css code */
.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainContainerBottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.Logo{
    margin-top: 4rem;
    max-height: 11.6rem;
    z-index: 0.1rem;
}

input:focus{
    outline: none;
    
}

.IdBox{
    border:none;
    caret-color: #0D6EFD;
    border-radius: 0.5rem;
    margin-top: 2rem;
    width: 100%;
    height: 4rem;
}
input::placeholder {
    padding: 0.3rem;
  }


/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.scroll::-webkit-scrollbar {
    display: none;
}
.signUpBtn{
    position: fixed;
    bottom: 10%;
    margin-top: 2rem; /*윗마진 */
    background-color: #0D6EFD; /*색 조절 */
    color: white;
    width: 90%;
    height: 4rem; /*높이조절 */
    font-size: 2rem;
    border-radius: 0.8rem;
    border: 0;
    margin-bottom: 3rem;
    font-weight: bold;
}

/*눌렸을때 */
.signUpBtn:active{
    background-color: #0056d8;
    color: white;
}

.btnBox{
    margin-top: 13rem;
    display: flex;
    justify-content: center;
}

.backLogo{
    z-index: 1;
    width: 4rem;
    height: 4rem;
    position: fixed;
    color: #D3CFCF;
}

.confirmPass{
    margin-top: 8.8rem; /*윗마진 */
    background-color: #0D6EFD; /*색 조절 */
    color: white;
    width: 25%;
    height: 3.5rem; /*높이조절 */
    font-size: 1.2rem;
    border-radius: 0.8rem;
    border: 0;
    margin-left: 2rem;
    font-weight: bold;
}

.confirmPass2{
   margin-top: 2rem;
    background-color: #0D6EFD; /*색 조절 */
    color: white;
    width: 25%;
    height: 3.5rem; /*높이조절 */
    font-size: 1rem;
    border-radius: 0.8rem;
    border: 0;
    margin-left: 2rem;
    font-weight: bold;
}
.confirmPass2dis{
    margin-top: 2rem;
     background-color: #b1b1b1; /*색 조절 */
     color: white;
     width: 25%;
     height: 3.5rem; /*높이조절 */
     font-size: 1rem;
     border-radius: 0.8rem;
     border: 0;
     margin-left: 2rem;
     font-weight: bold;
 }

.IdBox{
    border:none;
    caret-color: #0D6EFD;
    border-radius: 0.5rem;
    margin-top: 2rem;
    width: 100%;
    height: 4rem;
    font-size: 1.8rem;
}



.signUpBtnDis{
    position: fixed;
    bottom: 10%;
    margin-top: 2rem; /*윗마진 */
    background-color: #b1b1b1; /*색 조절 */
    color: white;
    width: 90%;
    height: 4rem; /*높이조절 */
    font-size: 2rem;
    border-radius: 0.8rem;
    border: 0;
    margin-bottom: 3rem;
    font-weight: bold;
}

.cerInput{
    margin-top: 2rem;
    margin-left: 10%;
    border: 0;
    height: 4rem;
    border-radius: 0.8rem;
}

.IdBoxdis{
    border:0;
    caret-color: #0D6EFD;
    border-radius: 0.5rem;
    margin-top: 2rem;
    width: 100%;
    height: 4rem;
    font-size: 1.8rem;
    background-color: white;
}