/* your css code */
.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 90vh;
}

.accountItem{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 90%;
    background-color: white;
    border-radius: 0.8rem;
    height: 13%;
}

.BankIcon{
    margin-left: 1.3rem;
    width: 18%;
}