/* your css code */
.IconBox{
    border-radius: 0.5rem;
    border-top: 0.3rem solid #B2B2B2;
    position: fixed;
    bottom: 0;
    height: 60%;
    background-color: white;
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    flex-wrap : wrap;
    justify-content: center;
    align-items: center;
}

.iconInner{
    display: flex;
    overflow: scroll;
    flex-direction: column;
}
.Icon{
    width: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}