/* your css code */
.container{
    height: 100%;
}


.midContainer{
    width: 98%;
    height: 8rem ;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "NT";
}

.accountBtn{
    background-color: white;
    border-radius: 0.8rem;
    border: solid #E4E4E4 0.2rem;
    height: 2.2rem;
    font-size: 1.1rem;
    color: #4F4F4F;

    margin-bottom: 0.8rem;
    font-family: "LH";
}



/* UserBox 컴포넌트 css */
.myProfileBtn{ 
    background-color: white;
    border-radius: 0.8rem;
    border: solid #E4E4E4 0.1rem;
    height: 2.5rem;
    color: black;
    font-size: 1.2rem;
    margin-right: 1rem;
    font-family: "LH";
}

.topContainer{
    width: 95%;
    height: 10rem;
    background-color: white;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sendMoneyBtn{
    font-family: "BD";
    background-color: #3772FF; /*색 조절 */
    color: white;
    width: 15%;
    height: 3.5rem; /*높이조절 */
    font-size: 1.2rem;
    border-radius: 0.8rem;
    border: 0;
    margin-right: 2.5rem;
}

/*눌렸을때 */
.sendMoneyBtn:active{
    background-color: #0056d8;
    color: white;
}
