/* your css code */
.container{
    height: 100%;
}

.topContainer{
    width: 98%;
    height: 10rem;
    background-color: white;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.midContainer{
    width: 98%;
    height: 10rem ;
    background-color: white;
    border-radius: 0.6rem;
    display: flex;

}

.accountBtn{
    background-color: white;
    border-radius: 0.8rem;
    border: solid #E4E4E4;
    height: 2.2rem;
    font-size: 1.1rem;
    color: #4F4F4F;
    width: 8.4rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
}

.myProfileBtn{ 
    background-color: white;
    border-radius: 0.8rem;
    border: solid #E4E4E4;
    width: 7rem;
    height: 2rem;
    color: #4F4F4F;
    font-weight: bold;
    
}