/* your css code */
.topContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accountItem{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.topItem{
    margin-top: 3rem;
    width: 100%;
    height: 7rem;
    background-color: #E7E7E7;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: row;
    font-family: "BD";
}

.botItem{
    margin-top: 3rem;
    width: 100%;
    height: 7rem;
    background-color: white;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: row;
    font-family: "BD";
}

.topItemInner{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.botItemInner{
    display: flex;
    flex-direction: column;
    width: 100%;
}



.inputBox{
    border: 0.2rem #DFDFE6 solid; 
    border-radius: 0.5rem;
    height: 4rem;
    width: 100%;
    font-size: 3rem;
}


.confirmBtn{
    margin-top: 3rem; /*윗마진 */
    background-color: #0D6EFD; /*색 조절 */
    color: white;
    width: 30%;
    height: 4.5rem; /*높이조절 */
    font-size: 2rem;
    border-radius: 0.8rem;
    border: 0;
    margin-bottom: 1rem;
    font-weight: bold;
    font-family: "BD";
}

/*눌렸을때 */
.confirmBtn:active{
    background-color: #0056d8;
    color: white;
}

.won{
    font-size: 2.3rem;
    right: 17%;
    position: fixed;
    font-weight: bold;
    z-index: 1;
    font-family: "BD";

}

.confirmBtndis{
    margin-top: 3rem; /*윗마진 */
    background-color: #797979; /*색 조절 */
    color: white;
    width: 30%;
    height: 4.5rem; /*높이조절 */
    font-size: 2rem;
    border-radius: 0.8rem;
    border: 0;
    margin-bottom: 1rem;
    font-weight: bold; 
    font-family: "BD";
}