.topbar {
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    border-bottom: 1px solid black;
}

.backbutton {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.createcontent {
    margin-left: 3%;
    margin-right: 3%;
}

.createment {
    display: table;
    justify-content: center;
}

.inputs {
    width: 100%;
}

.moimname {
    width: 100%;
}

.inputbox {
    width: 100%;
    margin-top: 40px;
}

.inputbox::-webkit-input-placeholder{
    text-align: center;
    align-items: center;
}

.buttondiv {
    width: 100%;
}

.submitbutton {
    width: 100%;
}