.container {
  height: 100vh;
  width: 100vw;
  background-color: #F3F5F8;
}


.inputment{
text-align: center;
margin-top: 25%;
font-size: 1.2rem;
font-family: "BD";
font-weight: 100;
} 

.inputter__flex {
  
  margin-top: 15%;
  flex-wrap: wrap;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.password_container {
  background-color: inherit;
  font-size: 2rem;
  text-align: center;
  color: #F3F5F8;
}

.num_button__flex {
  vertical-align: middle;
  width: 30%;
  height: 24%;
  line-height: 100%;
  border: 1px solid;
  overflow: hidden;
  position: relative;
  background-color: #F3F5F8;
}

.spread_effect {
  border: 0 solid;


}

.fantasy_font__2_3rem {
  font-size: 4.5rem;
  font-family: "Number";
  color: #423D3D;
  font-weight: "bold";
}

.pwd {
  margin-top: 15%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pwdbox {
  background-color: #5F5F5F;
  border-radius: 0.5rem;
  color: #ffffff;
  width: 4.5rem;
  height: 5rem;
  font-size: 7rem;
  text-align: center;
  line-height: 1;
}

.pwdbox_input {
  border-radius: 0.5rem;
  width: 60px;
  height: 60px;
  font-size: 80px;
  text-align: center;
  line-height: 0px;
}


.BackIcon{
  color: #696767;;
}

/* .PwdContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
